<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>目录管理</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <script type="text/javascript" th:src="@{/layui/layui.all.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-1.8.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.serializejson.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.nicescroll.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/dataDict/fcsDataDictDetail.js}"></script>
</head>
<body >
	<div id="fcsDataDictDetail">
	<!-- 详情区域 -->
     <div class="layui-form search-bar">
         <div class="layui-form-item">
         <input type="hidden" id="input_hidden_id" name="id"/>
         <input type="hidden" id="input_hidden_code" name="paramTypeCode" />
	         <div class="layui-inline">
	         	<label class="layui-form-label"><font style="color: blue;">参数详情</font></label>
	         </div>
             <!-- <div class="layui-inline">
                 <label class="layui-form-label">参数类型</label>
                 <div class="layui-input-inline">
                     <input id="input_code" placeholder="请输入" class="layui-input" maxlength="50" type="text"/>
                 </div>
                 <label class="layui-form-label">参数名称</label>
                 <div class="layui-input-inline">
                     <input id="input_name" placeholder="请输入" class="layui-input" maxlength="50" type="text"/>
                 </div>
             </div>
             <div class="layui-inline">
                 <a class="layui-btn layui-btn" onclick="findByDataDictName()">查询</a>
             </div> -->
         </div>
     </div>
     <div class="table-head mt10">
         <ul>
             <li>
                 <a data-type="AddModalDetail"><i class="layui-icon layui-icon-add-circle"></i>新增</a>
             </li>
             <li>
                 <a data-type="updModalDetail" data-bool="updDetail"><i class="layui-icon layui-icon-edit"></i>编辑</a>
             </li>
             <li>
                 <a data-type="delModalDetail" data-bool="delDetail"><i class="layui-icon layui-icon-delete"></i>删除</a>
             </li>
         </ul>
     </div>
     <div class="bg-white pt5">
         <table id="dataDictDetailTable" class="layui-table" lay-filter="table-list">
         </table>
         <div class="pl10" id="paging_detail"></div>
     </div>
</div>
</body>

<div id="detailModal" class="hide p10 pr20">
    <form id="detailModalForm" class="layui-form">
        <input type="hidden" name="id" id="input_detail_id">
        <input type=hidden" name="paramTypeCode" id="input_detail_paramTypeCode">
        <div class="layui-form-item">
            <label class="layui-form-label">参数代码</label>
            <div class="layui-input-block">
                <input id="input_detail_code" name="code" type="text" class="layui-input">

            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">参数值</label>
            <div class="layui-input-block">
                <input id="input_detail_value" name="value" type="text" class="layui-input">
            </div>
        </div>
         <div class="layui-form-item">
            <label class="layui-form-label">排序号</label>
            <div class="layui-input-block">
               <input id="input_detail_seq" name="seq" type="text" class="layui-input">
            </div>
        </div> 
    </form>
</div>

</html>     
