<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>目录管理</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <script type="text/javascript" th:src="@{/layui/layui.all.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-1.8.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.serializejson.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.nicescroll.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/dataDict/fcsDataDict.js}"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--这是头部 html页面在上一层的pub-html里面-->
    <div th:replace="header :: header"></div>
    <!--这是侧边栏 html页面在当前层的pub-html里面-->
    <div th:replace="sidebar :: sidebar"></div>
    <!-- 隐藏域 -->
    <input type="hidden" id="input_parent_id">
    <input type="hidden" id="input_parent_code">
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div class="layui-form search-bar">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">参数类型</label>
                    <div class="layui-input-inline">
                        <input id="input_code" placeholder="请输入" class="layui-input" maxlength="50" type="text"/>
                    </div>
                    <label class="layui-form-label">参数名称</label>
                    <div class="layui-input-inline">
                        <input id="input_name" placeholder="请输入" class="layui-input" maxlength="50" type="text"/>
                    </div>
                </div>
                <div class="layui-inline">
                    <a class="layui-btn layui-btn" onclick="findByDataDictName()">查询</a>
                </div>
            </div>
        </div>
        <div class="table-head mt10">
            <ul>
                <li>
                    <a data-type="AddModal"><i class="layui-icon layui-icon-add-circle"></i>新增</a>
                </li>
                <li>
                    <a data-type="updModal" data-bool="upd"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                </li>
                <li>
                    <a data-type="YqModal" data-bool="yq"><i class="layui-icon layui-icon-edit"></i>详情</a>
                </li>
                <li>
                    <a data-type="delModal" data-bool="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
                </li>
            </ul>
        </div>
        <div class="bg-white pt5">
            <table id="dataDictTable" class="layui-table" lay-filter="table-list">
            </table>
            <div class="pl10" id="paging"></div>
        </div>
    </div>
    
</div>
</body>
<div id="AddModal" class="hide p10 pr20">
    <form id="dataDictModalForm" class="layui-form">
        <input type="hidden" name="id" id="input_modal_id">
        <div class="layui-form-item">
            <label class="layui-form-label">参数类型</label>
            <div class="layui-input-block">
                <input id="input_modal_code" name="code" type="text" class="layui-input">

            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">参数名称</label>
            <div class="layui-input-block">
                <input id="input_modal_name" name="name" type="text" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <input id="input_modal_remark" name="remark" type="text" class="layui-input">
            </div>
        </div>
         <div class="layui-form-item">
            <label class="layui-form-label">是否显示</label>
            <div class="layui-input-block">
                <input type="radio" name="isShow" id="isShow1" value=1 checked title="是"/>
				<input type="radio" name="isShow" id="isShow0" value=0 title="否"/>
            </div>
        </div> 
    </form>
</div>

</html>